In [1]:
import os
import pickle

In [2]:
os.environ["GRADIENT_ACCESS_TOKEN"] = "qmo0P8rEERRVzm0XoEIvm9j41aQEu5Z2"
os.environ["GRADIENT_WORKSPACE_ID"] = "fde7dc26-fb49-4ba9-9fc3-818e15c189ae_workspace"

In [3]:
data ="""
The provided information regarding TCS's revenue for the financial years 2023 and 2022 can be summarized as follows:

FY 2023:

* Revenue from operations: ₹225,458 crore
* Earnings before interest, tax, depreciation, and amortization (EBITDA): ₹59,259 crore
* Profit before interest and tax: ₹56,907 crore
* Profit after tax attributable to shareholders of the company: ₹42,147 crore
* Earnings per share (in `): ₹115.19

FY 2022:

* Revenue from operations: ₹191,754 crore
* EBITDA: ₹53,057 crore
* Profit before interest and tax: ₹51,687 crore
* Profit after tax attributable to shareholders of the company: ₹38,327 crore
* Earnings per share (in `): ₹103.62

Note: All amounts are in Indian Rupees (₹) and crore, unless specified otherwise.
"""

In [4]:
from loadllm import Loadllm

In [5]:
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain

In [6]:
graphtemplate = """Based on this data:
{data} 
if there is comparison posible or from that data there is possibility to make a chart then Convert the following text data into a CSV using commas (,) as the delimiter
Note reomve units like rupee, crore or anyother unit
Answer:
"""
graphPrompt = PromptTemplate.from_template(graphtemplate)

In [33]:
llm = Loadllm.load_llm()

In [34]:
llm_forgraph = LLMChain(prompt=graphPrompt, llm=llm)

In [41]:
out = llm_forgraph.run(data=data, chart="bar")

In [43]:
print(out)

 FY 2023,FY 2022
revenue from operations,revenue from operations 225458,191754
earnings before interest,earnings before interest,tax,depreciation,and amortization,EBITDA,59259,53057
profit before interest,profit before interest and tax,56907,51687
profit after tax attributable,profit after tax attributable to shareholders of the company,42147,38327
earnings per share,earnings per share (in ) 115.19,103.62

In [14]:
import re
import json

# The text containing JSON-like structure
text = """
{
"FY 2023": {
"Revenue from operations": ₹225,458 crore,
"EBITDA": ₹59,259 crore,
"Profit before interest and tax": ₹56,907 crore,
"Profit after tax attributable to shareholders": ₹42,147 crore,
"Earnings per share": ₹115.19
},
"FY 2022": {
"Revenue from operations": ₹191,754 crore,
"EBITDA": ₹53,057 crore,
"Profit before interest and tax": ₹51,687 crore,
"Profit after tax attributable to shareholders": ₹38,327 crore,
"Earnings per share": ₹103.62
}
}
"""
data=""
pattern = r'\{[^{}]*\}'
match = re.search(pattern, text)
if match:
    data = match.group()
    # Loading the JSON data

'{\n"Revenue from operations": ₹225,458 crore,\n"EBITDA": ₹59,259 crore,\n"Profit before interest and tax": ₹56,907 crore,\n"Profit after tax attributable to shareholders": ₹42,147 crore,\n"Earnings per share": ₹115.19\n}'

In [45]:
with open(f"vectorestore/bSnasyo2HywpAgXnz29e.pkl", "rb") as f:
        VectorStore = pickle.load(f)

FileNotFoundError: [Errno 2] No such file or directory: 'vectorestore/bSnasyo2HywpAgXnz29e.pkl'

In [44]:
import fitz  # import package PyMuPDF

# Open some document, for example a PDF (could also be EPUB, XPS, etc.)
doc = fitz.open("Reports/tcs.pdf")

In [49]:
page = doc[71]

In [50]:
tabs = page.find_tables()

In [53]:
tabs[1].extract()

[['', 'Standalone', None, 'Consolidated', None],
 [None,
  'Financial Year\n2022-23\n(FY 2023)',
  'Financial Year\n2021-22\n(FY 2022)',
  'Financial Year\n2022-23\n(FY 2023)',
  'Financial Year\n2021-22\n(FY 2022)'],
 ['Revenue from operations', '1,90,354', '1,60,341', '2,25,458', '1,91,754'],
 ['Other income', '5,328', '7,486', '3,449', '4,018'],
 ['Total income', '1,95,682', '1,67,827', '2,28,907', '1,95,772'],
 ['Expenses', '', '', '', ''],
 ['Operating expenditure', '1,39,357', '1,14,096', '1,66,199', '1,38,697'],
 ['Depreciation and amortisation expense', '3,940', '3,522', '5,022', '4,604'],
 ['Total expenses', '1,43,297', '1,17,618', '1,71,221', '1,43,301'],
 ['Profti before fni ance costs and tax',
  '52,385',
  '50,209',
  '57,686',
  '52,471'],
 ['Finance costs', '695', '486', '779', '784'],
 ['Profti before tax', '51,690', '49,723', '56,907', '51,687'],
 ['Tax expense', '12,584', '11,536', '14,604', '13,238'],
 ['Profti for the year', '39,106', '38,187', '42,303', '38,449'],
 ['Atrt ibutable to:', '', '', '', ''],
 ['Shareholders of the Company', '39,106', '38,187', '42,147', '38,327'],
 ['Non-controlling interests', 'NA', 'NA', '156', '122'],
 ['Opening balance of retained earnings',
  '68,949',
  '70,928',
  '78,158',
  '79,586'],
 ['Closing balance of retained earnings',
  '62,228',
  '68,949',
  '74,722',
  '78,158']]

In [55]:
mudf = tabs[1].to_pandas()

In [56]:
mudf

,Col0,Standalone,Col2,Consolidated,Col4
0,None,Financial Year\n2022-23\n(FY 2023),Financial Year\n2021-22\n(FY 2022),Financial Year\n2022-23\n(FY 2023),Financial Year\n2021-22\n(FY 2022)
1,Revenue from operations,"1,90,354","1,60,341","2,25,458","1,91,754"
2,Other income,"5,328","7,486","3,449","4,018"
3,Total income,"1,95,682","1,67,827","2,28,907","1,95,772"
4,Expenses,,,,
5,Operating expenditure,"1,39,357","1,14,096","1,66,199","1,38,697"
6,Depreciation and amortisation expense,"3,940","3,522","5,022","4,604"
7,Total expenses,"1,43,297","1,17,618","1,71,221","1,43,301"
8,Profti before fni ance costs and tax,"52,385","50,209","57,686","52,471"
9,Finance costs,695,486,779,784
10,Profti before tax,"51,690","49,723","56,907","51,687"
11,Tax expense,"12,584","11,536","14,604","13,238"
12,Profti for the year,"39,106","38,187","42,303","38,449"
13,Atrt ibutable to:,,,,
14,Shareholders of the Company,"39,106","38,187","42,147","38,327"
15,Non-controlling interests,NA,NA,156,122
16,Opening balance of retained earnings,"68,949","70,928","78,158","79,586"
17,Closing balance of retained earnings,"62,228","68,949","74,722","78,158"

In [58]:
import camelot

In [74]:
page_table = camelot.read_pdf('Reports/tcs.pdf', flavor='stream', pages="72")

In [77]:
df=page_table[1].df

In [78]:
df

,0,1,2,3,4
0,,Standalone,,Consolidated,
1,,Financial Year,Financial Year,Financial Year,Financial Year
2,,2022-23,2021-22,2022-23,2021-22
3,,(FY 2023),(FY 2022),(FY 2023),(FY 2022)
4,Revenue from operations,"1,90,354","1,60,341","2,25,458","1,91,754"
5,Other income,"5,328","7,486","3,449","4,018"
6,Total income,"1,95,682","1,67,827","2,28,907","1,95,772"
7,Expenses,,,,
8,Operating expenditure,"1,39,357","1,14,096","1,66,199","1,38,697"
9,Depreciation and amortisation expense,"3,940","3,522","5,022","4,604"
10,Total expenses,"1,43,297","1,17,618","1,71,221","1,43,301"
11,Profit before finance costs and tax,"52,385","50,209","57,686","52,471"
12,Finance costs,695,486,779,784
13,Profit before tax,"51,690","49,723","56,907","51,687"
14,Tax expense,"12,584","11,536","14,604","13,238"
15,Profit for the year,"39,106","38,187","42,303","38,449"
16,Attributable to:,,,,
17,Shareholders of the Company,"39,106","38,187","42,147","38,327"
18,Non-controlling interests,NA,NA,156,122
19,Opening balance of retained earnings,"68,949","70,928","78,158","79,586"
20,Closing balance of retained earnings,"62,228","68,949","74,722","78,158"