In [1]:
from pprint import pprint

In [7]:
import fitz  # import package PyMuPDF

# Open some document, for example a PDF (could also be EPUB, XPS, etc.)
doc = fitz.open("Reports/jio.pdf")

In [91]:
page = doc[499]  # this is the first page

In [ ]:
print(page.get_text())

In [94]:
tabs = page.find_tables()
print(f"{len(tabs.tables)} table(s) on {page}")
# pprint(tabs[0].extract())

0 table(s) on page 499 of Reports/ITC.pdf

In [ ]:
tabs[0].extract()

In [75]:
df = tabs[0].to_pandas()

In [76]:
df

                                       Col0        Col1 (₹ in crore)
0                               Particulars  Standalone         None
1                                      None     2022-23      2021-22
2                   Revenue from Operations      90,786       76,977
3                              Other Income         362          227
4                              Total Income      91,148       77,204
5                        Operating Expenses      44,114       39,347
6                                    EBITDA      47,034       37,857
7                              Finance Cost       4,059        4,377
8     Depreciation and Amortisation Expense      18,546       13,615
9                         Profit before Tax      24,429       19,865
10                        Less: Current Tax           -            -
11                             Deferred Tax       6,222        5,048
12                      Profit for the year      18,207       14,817
13          Add: Other Comprehensive Income        (0)#           0#
14  Total Comprehensive Income for the year      18,207       14,817

In [1]:
import camelot

In [9]:
page_table = camelot.read_pdf('Reports/jio.pdf', flavor='stream', edge_tol=400, pages="90")

In [10]:
page_table

In [11]:
page_table[0].df

,0,1,2,3,4,5,6,7,8,9,10
0,,01-04-2022,/Adjust-,/Adjust-,31-03-2023,01-04-2022,Year,/Adjust-,31-03-2023,31-03-2023,31-03-2022
1,,,ments,ments,,,,ments,,,
2,"Property, Plant and Equipment :",,,,,,,,,,
3,Own Assets (A),,,,,,,,,,
4,Land,"1,868",-,-,"1,868",-,-,-,-,"1,868","1,868"
5,Buildings,"1,235",42,1,"1,276",136,40,0,176,"1,100","1,099"
6,Buildings-Temporary Structures,3,-,-,3,2,1,-,3,0,1
7,Leasehold Improvements,389,36,-,425,56,22,-,78,347,333
8,Plant and Equipment,"1,39,255","18,947",342,"1,57,860","19,587","10,345",126,"29,806","1,28,054","1,19,668"
9,Office Equipment,94,2,1,95,40,14,1,53,42,54
10,Furniture and Fixtures,43,2,0,45,21,4,0,25,20,22
11,Vehicles,22,-,-,22,18,1,-,19,3,4
12,Sub-total (A),"1,42,909","19,029",344,"1,61,594","19,860","10,427",127,"30,160","1,31,434","1,23,049"
13,Right-of-Use Assets (B),,,,,,,,,,
14,Land,283,3,-,286,62,7,-,69,217,221
15,Plant and Equipment,"12,910","7,774",-,"20,684","3,820","3,065",-,"6,885","13,799","9,090"
16,Sub-total (B),"13,193","7,777",-,"20,970","3,882","3,072",-,"6,954","14,016","9,311"
17,Total (C=A+B),"1,56,102","26,806",344,"1,82,564","23,742","13,499",127,"37,114","1,45,450","1,32,360"
18,Spectrum*~ (D),"93,163",-,-,"93,163","13,471","4,353",-,"17,824","75,339","79,692"
19,Other Intangible Assets*,,,,,,,,,,
20,Software,"5,893",519,-,"6,412","2,185",627,-,"2,812","3,600","3,708"
21,Indefeasible right to use (IRU),920,96,-,"1,016",147,67,-,214,802,773
22,License Fee~,14,-,-,14,2,0,-,2,12,12
23,Others,0,-,-,0,0,-,-,0,-,-
24,Total (E),"6,827",615,-,"7,442","2,334",694,-,"3,028","4,414","4,493"
25,Grand Total (C+D+E),"2,56,092","27,421",344,"2,83,169","39,547","18,546",127,"57,966","2,25,203","2,16,545"
26,Previous Year,"1,97,105","59,029",42,"2,56,092","25,951","13,615",19,"39,547","2,16,545",
27,Capital Work-in-Progress,,,,,,,,,"43,468","19,223"
28,Spectrum Under Development,,,,,,,,,"1,22,357","28,626"
29,Other Intangible Assets Under Development,,,,,,,,,166,4
30,“0” represents the amount below the denominati...,,,,,,,,,,

In [56]:
page_table[1].df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,,,Ind As,,,,,,,,,Indian GAAP,,
1,,Unit,FY \n2023,FY \n2022,FY \n2021*,FY \n2021,FY \n2020,FY \n2019,FY \n2018,FY \n2017,FY \n2016,FY \n2015#,FY \n2015,FY \n2014
2,Ratios - Financial Performance,,,,,,,,,,,,,
3,Employee Cost / Total Revenue,%,56.6,56.1,55.9,55.9,54.8,53.4,53.9,52.2,50.9,51.0,53.8,49.5
4,Other Operating Cost / Total \nRevenue,%,17.1,16.2,15.7,16.5,18.4,19.6,19.7,20.4,20.9,20.4,20.3,19.8
5,Total cost (excluding interest & \ndepreciatio...,%,73.7,72.3,71.6,72.4,73.2,73.0,73.6,72.6,71.8,71.4,74.1,69.3
6,EBITDA (Before Other Income) \n/ Total Revenue,%,26.3,27.7,28.4,27.6,26.8,27.0,26.4,27.4,28.2,28.6,25.9,30.7
7,Profit Before Tax / Total \nRevenue,%,25.2,27.0,27.4,26.7,26.9,28.4,27.7,29.3,29.3,30.0,27.3,31.1
8,Tax / Total Revenue,%,6.5,6.9,7.0,6.8,6.2,6.8,6.7,6.9,6.9,7.2,6.6,7.4
9,Effective Tax Rate - Tax / PBT,%,25.7,25.6,25.5,25.6,23.2,24.1,24.1,23.6,23.6,23.5,23.7,23.9
10,Profit After Tax / Total Revenue,%,18.7,20.0,20.3,19.8,20.6,21.5,21.0,22.3,22.3,23.2,21.0,23.4
11,Ratios - Growth,,,,,,,,,,,,,
12,Total Revenue,%,17.6,16.8,4.6,4.6,7.2,19.0,4.4,8.6,14.8,15.7,15.7,29.9
13,EBITDA (Before Other Income),%,11.7,14.0,10.5,7.6,6.6,21.5,0.6,5.3,25.3,7.8,(2.7),39.4
14,Profit After Tax,%,10.0,14.8,3.2,0.3,2.8,21.9,(1.8),8.3,22.3,14.3,3.6,37.7
15,Ratios - Balance Sheet,,,,,,,,,,,,,
16,Debt (excluding lease liabilities) \n- Equity ...,Times,-,-,-,-,-,-,0.0,0.0,0.0,0.0,0.0,0.0
17,Current Ratio,Times,2.5,2.6,3.0,2.9,3.3,4.2,4.6,5.5,4.1,3.9,2.4,2.7
18,Days Sales Outstanding (DSO) \nin ` terms,Days,67,65,67,67,71,68,74,70,81,79,79,81
19,Days Sales Outstanding (DSO) \nin $ terms,Days,65,64,68,68,67,69,74,73,80,78,78,82
20,Invested Funds / Capital \nEmployed,%,50.4,57.4,52.6,53.1,47.7,55.2,55.6,55.8,45.8,42.3,43.9,44.0
21,Capital Expenditure / Total \nRevenue,%,1.4,1.5,1.9,1.9,2.0,1.5,1.5,1.7,1.8,3.1,3.1,3.8

In [30]:
from typing import List

In [23]:
def get_tables(path: str, pages: List[int]):
    table_dfs = []
    for page in pages:
        table_list = camelot.read_pdf(path, pages=str(page))
        table_df = table_list[0].df
        table_df = (
            table_df.rename(columns=table_df.iloc[0])
            .drop(table_df.index[0])
            .reset_index(drop=True)
        )
        table_dfs.append(table_df)
    return table_dfs

In [ ]:
table_dfs = get_tables("Reports/jio.pdf", pages=[12, 14])

In [8]:
page=doc[4]

In [11]:
output = page.get_text('blocks')
pprint(output)

NameError: name 'pprint' is not defined

In [10]:
previous_block_id = 0 # Set a variable to mark the block id
for block in output:
        if block[6] == 0: # We only take the text
            if previous_block_id != block[5]:
                # Compare the block number
                print("\n")
            print(block[4])

4



Board’s Report



Reliance Jio Infocomm Limited



BOARD’S REPORT



Dear Members,



The Board of Directors present the Company’s Sixteenth Annual Report (“Report”) and the Company’s audited financial
statements for the financial year ended March 31, 2023.



FINANCIAL RESULTS



The Company’s financial performance (standalone and consolidated) for the financial year ended March 31, 2023 is
summarised below:



(₹ in crore)



Particulars
Standalone
Consolidated
2022-23
2021-22
2022-23
2021-22
Revenue from Operations
90,786
76,977
91,373
77,356
Other Income
362
227
368
229
Total Income
91,148
77,204
91,741
77,585
Operating Expenses
44,114
39,347
44,476
39,525
EBITDA
47,034
37,857
47,265
38,060
Finance Cost
4,059
4,377
4,059
4,377
Depreciation and Amortisation Expense
18,546
13,615
18,641
13,702
Profit before Tax
24,429
19,865
24,565
19,981
Less: Current Tax
-
-
16
58
Deferred Tax
6,222
5,048
6,250
5,069
Profit for the year
18,207
14,817
18,299
14,854
Add: Other Comprehensive Income
(0)#
0#
125
(13)
Total Comprehensive Income for the year
18,207
14,817
18,424
14,841



#“0” represents the amount below the denomination threshold.



RESULTS OF OPERATIONS AND STATE OF COMPANY’S AFFAIRS



The Company achieved operating revenue of ` 90,786 crore for FY 2022-23 registering an increase of 17.9% Y-o-Y from last
year revenue of `  76,977 crore. EBITDA was at ` 47,034 crore for the year, a growth of 24.2% against last year EBITDA of
` 37,857 crore. EBITDA margin has expanded to 51.8%, an increase of 260 bps over last year EBITDA margin of 49.2% on the
back of operating leverage. Total Comprehensive Income for the year increased to ` 18,207 crore, a jump of 22.9% from
last year income of ` 14,817crore. This robust growth was driven by higher ARPU, industry leading subscriber additions in
both mobility and homes business, and ramp-up of enterprise services.



Jio has always endeavoured to build a digital services ecosystem for 1.4 billion Indians – to bring together its pan-India
network and distribution presence with deep technology expertise to benefit consumers, homes, Merchants / Small and
Medium Businesses (SMBs) and large enterprises. A key component of this is to provide high quality connectivity services
to everyone.



The vision for your Company’s connectivity business is to “Connect everyone and everything, everywhere - always at the
highest quality and the most affordable price”. Your Company has been successful in executing this vision by connecting
439.3 million customers as of March 2023 across wireless and wireline services.



The four pillars of RJIL’s connectivity business are Wireless broadband (4G LTE/ 5G), JioFiber, Jio’s enterprise broadband
and IoT services. RJIL is now rolling out JioAirFiber (5G based Fixed Wireless Access) as a product which would accelerate
subscriber additions and be the fifth pillar of our connectivity platform. Together with JioFiber, this would enable RJIL to
connect 100 million premises with a broadband connection.



Furthering its commitment to enable 5G for all, RJIL extended coverage of its True5G services to over 2,300 cities/ towns
across India with ~60,000 macro sites across 700MHz and 3500MHz bands as of March 2023. RJIL is on track to complete
pan India rollout by December 2023. With consistent increase in customer engagement, RJIL network carried more than 10
Exabytes of monthly data traffic in the quarter ending March 2023. RJIL remains the operator of choice with 430.2 million
mobile broadband users as of March 2023.



JioFiber is the optical-fiber based, gigabit-speed home broadband service. RJIL has extended its leadership in fiber
broadband with over 9 million connected premises. Daily customer engagement on Jio STB is ~6 hours driven by bundled
entertainment packages for postpaid users.

In [6]:
page.get_text()

'2 0 2 3\n'